<!DOCTYPE html>
    <html>

    <head>
        <title>Index</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather</p>
            <form>
                <input type="text" placeholder="Location" />
                <button>Search</button>
            </form>
            <p id='para1'></p>
            <p id='para2'></p>
            <img id='img' src="" />
        </div>
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
    

    </html>